# CONEXIÓN A NEON (USUARIO RESTRINGIDO: service_public)
# Este usuario solo debe tener permisos sobre el esquema 'web' y SELECT en vistas de 'public'
DATABASE_URL=postgresql://service_public:PASSWORD@ep-misty-paper-anerfiw9-pooler.c-6.us-east-1.aws.neon.tech/jeheka-prd?sslmode=require

# CONFIGURACIÓN DE APP
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=tu_secreto_super_seguro_y_diferente_al_de_admin
